body {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #F9F4EF;
  color: #3D2B3D;
  font-family: 'Poppins', sans-serif;
}

nav {
  height: 10vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #C34A7E; /* magenta pink from my color palette */
  padding: 0 5vw;
}

nav a {
  width: 10vw;
  text-align: center;
  text-decoration: none;
  color: #F9F4EF; /* Soft Cream for contrast */
  font-weight: bold;
  font-size: 1.1rem;
  transition: color 0.3s ease;
}

nav a:hover {
  color: white;
}

#red-ball {
  background-color: #D9A441;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  position: absolute;
  left: 5vw;
  top: 0;
  animation: bounce 3s infinite ease-in-out;
}
