#narrowScreen{

}
#wideScreen{

}
#shortScreen{

}
#tallScreen{

}

/* on narrow screens (less than 600px) make the text purple, otherwise use green. */
#narrowScreen {
  color: green;
}
@media (max-width: 600px) {
  #narrowScreen {
    color: purple;
  }
}

/* on wide screens (>800px) text should be light blue, otherwise make it red */
#wideScreen {
  color: red;
}
@media (min-width: 801px) {
  #wideScreen {
    color: lightblue;
  }
}

/* on short screens (<500px) text should be yellow, otherwise use turquoise */
#shortScreen {
  color: turquoise;
}
@media (max-height: 500px) {
  #shortScreen {
    color: yellow;
  }
}

/* for tall screen (>800px) use orange text, otherwise use lavender text */
#tallScreen {
  color: lavender;
}
@media (min-height: 801px) {
  #tallScreen {
    color: orange;
  }
}
